{% extends 'base.html.twig' %}

{% block dashboard%} {% endblock %}
{% block body %}
    <div class="container-xxl flex-grow-1 container-p-y" >
        <div class="d-flex justify-content-center">
            {{ form_start(registrationForm, {'attr': {'class': 'form-container', 'novalidate': 'novalidate'}}) }}
            <div class="card p-4 " style="width:800px; margin-top: 150px;">
                <form class="container position-relative text-center text-lg-start">
                    <div>
                        <div class="form-group mt-3">
                            <label for="{{ registrationForm.prenom.vars.id }}">Prenom</label>
                            {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Your First Name'}}) }}
                            {{ form_errors(registrationForm.prenom) }}
                        </div>
                        <div class="form-group mt-3">
                            <label for="{{ registrationForm.nom.vars.id }}">Nom</label>
                            {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Your Last Name'}}) }}
                            {{ form_errors(registrationForm.nom) }}
                        </div>
                        <div class="form-group mt-3">
                            <label for="{{ registrationForm.email.vars.id }}">Email</label>
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Your Email'}}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>
                        <div class="form-group mt-3">
                            <label for="{{ registrationForm.cin.vars.id }}">CIN</label>
                            {{ form_widget(registrationForm.cin, {'attr': {'class': 'form-control', 'placeholder': 'CIN'}}) }}
                            {{ form_errors(registrationForm.cin) }}
                        </div>
                        <div class="form-group mt-3">
                            <label for="{{ registrationForm.plainPassword.vars.id }}">Password</label>
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                        <div class="form-check d-flex justify-content-center">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}"></label>
                        </div>
                        <!-- Add more form fields as needed -->

                        <div class="text-center" style="margin-top: 10px">
                            <button type="submit" class="btn btn-primary">Create</button>
{#                            <a href="{{ path('front_admin') }}" class="btn btn-secondary"> Go Back </a>#}

                        </div>

                        {{ form_end(registrationForm) }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}