
{% extends 'base_back.html.twig' %}

{% block title %}Forumpost index{% endblock %}

{% block body %}
    <h1>Forumpost index</h1>
    <form action="{{ path('app_forumpost_search') }}" method="GET">
        <input type="text" id="query" name="query">
        <button type="submit">Search</button>
    </form>
    </form>
    <form action="{{ path('app_forumpostsback_tri') }}" method="GET">
        <label for="order">Ordre :</label>
        <select name="order" id="order">
            <option value="asc">Croissant</option>
            <option value="desc">Décroissant</option>
        </select>

        <label for="field">Champ de tri :</label>
        <select name="field" id="field">
            <option value="title">Titre</option>

            <!-- Ajoutez d'autres options pour les champs de tri si nécessaire -->
        </select>

        <button type="submit" class="btn btn-primary">Trier</button>
    </form>

    <table class="table">
        <thead>
        <tr>

            <th>Title</th>
            <th>Content</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for forumpost in pagination %}
            <tr>

                <td>{{ forumpost.title }}</td>
                <td> {% if forumpost.content %}
                        <img src="{{ asset('assets/imgpost/imgPost/' ~ forumpost.content) }}" alt="Image du actualite" style="max-width: 100px; max-height: 100px;">
                    {% else %}
                        Pas d'image
                    {% endif %}</td>
                <td>

                <td>
                    <a href="{{ path('app_forumpost_show', {'id': forumpost.id}) }}">show</a>
                    <a href="{{ path('app_forumpost_edit', {'id': forumpost.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('app_forumpost_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}
