{% extends 'basedash.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

    {% block body %}
        <h1>Create new Product</h1>
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
        {{ form_start(form, {'attr': {'class': 'contact-us', 'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-6">
                <label for="name">Name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
                {% if form_errors(form.name) is not empty %}
                    <div class="alert alert-danger">{{ form_errors(form.name) }}</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="location">Location</label>
                {{ form_widget(form.location, {'attr': {'class': 'form-control', 'placeholder': 'location'}}) }}
                {% if form_errors(form.location) is not empty %}
                    <div class="alert alert-danger">{{ form_errors(form.location) }}</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="category">Category</label>
                {{ form_widget(form.category, {'attr': {'class': 'form-control', 'placeholder': 'Category'}}) }}
                {% if form_errors(form.category) is not empty %}
                    <div class="alert alert-danger">{{ form_errors(form.category) }}</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="image">Image</label>
                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.imageFile) is not empty %}
                    <div class="alert alert-danger">{{ form_errors(form.imageFile) }}</div>
                {% endif %}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-danger btn-buy-now">Update</button>
        {{ form_end(form) }}
        <br><br>
        <a class="btn btn-danger btn-buy-now" href="{{ path('app_restaurant_indexdash') }}">back to list</a>

    </div>
    </div>
    {% endblock %}