{% extends 'home.html.twig' %}

{% block navbar %}
    <div class="navbar navbar-expand-lg bg-light navbar-light ">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">Kool <span>Art</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link ">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a href="feature.html" class="nav-item nav-link">Feature</a>
                    <a href="team.html" class="nav-item nav-link">Chef</a>
                    <a href="menu.html" class="nav-item nav-link">Menu</a>
                    <a href="booking.html" class="nav-item nav-link">Booking</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog Detail</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                    {% set user=app.session.get("user") %}
                    <a href="{{ path('app_user_edit',{'id': user.id}) }}" class="nav-item nav-link"> {{  user.prenom  }} </a>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{%block title %} {% endblock %}
{% block body %}
    <div class="body">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="d-flex justify-content-center">
                {{ form_start(registrationForm, {'attr': {'class': 'form-container', 'novalidate': 'novalidate'}}) }}
                <div class="card p-4" style="width:800px; margin-top: 150px; background-color: #fbaf32;">


                    <div class="control-group">
                        <input type="password" name="{{ field_name(registrationForm.password.first) }}" value="{{ field_value(registrationForm.password.first) }}" type="text" class="form-control p-4" id="subject" style=" border-color: #fff; background-color: transparent; color: #fff;" placeholder="Your Password" />
                        <p class="help-block text-danger">{{ form_errors(registrationForm.password.first) }}</p>
                    </div>
                    <div class="control-group">
                        <input type="password"name="{{ field_name(registrationForm.password.second) }}" value="{{ field_value(registrationForm.password.second) }}" type="text" class="form-control " style=" border-color: #fff; background-color: transparent; color: #fff;" id="subject" placeholder="Confirm Your Password"/>
                        <p class="help-block text-danger">{{ form_errors(registrationForm.password.second) }}</p>
                    </div>




                    <!-- Add more form fields as needed -->
                        <div class="text-center" style="margin-top: 10px">
                            <button type="submit" class="btn btn-light">Confirm Password</button>

                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .change-password-link:hover {
            color: blue;
            text-decoration: underline;
        }

        .change-password-link {
            color: white;
        }

        .change-password-link:hover {
            color: blue;
        }

        .body {
            background-image: url('{{ asset('front/img/page-header.jpg') }}');
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}
